html,
body,
#app,
ul {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  color: #303133;
  background-color: #f5f7fd;
  font-family: Inter, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial,
    sans-serif;
  overflow-x: hidden;
}
/* 去除a链接下划线 #409EFF */
a {
  color: var(--el-color-primary);
  text-decoration: none;
  outline: 0;
}
